@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-bg: #f8fafc;
  --text-main: #0f172a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--page-bg);
  color: var(--text-main);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
